[Main]
ProjectName=HASSLANDA III
ProjectVersion=3
[Geo.PPFiles]
NumberOfPPFile=1
PPFileName1=pp
PPFileType1=.geo
[Geo.APFiles]
NumberOfAPFile=0
[Geo.FileTree]
TreeFileCount=85
[Geo.Background]
Filename=bilder\hasslanda.tif
[Geo.Database]
CurrentDatabase=
UseForStationPoints=0
[Geo.CooSysDefs]
LocFile=Sweref 99 13 30 RH2000_SWEN08.lok
CoosysDesc=
GtrFile=
GtrEllipse=6
GtrFromLoc=0
GrdFile=
UseModel=0
CsdFile=
TpfFile=
[CodeList]
FileName=sbg2
SymbolFile=sbg2
LineTypeFile=sbg2
[Units]
LengthUnit=0
TemperatureUnit=2
PressureUnit=4
AngleDec=4
AreaDec=2
CommonDec=3
CoordDec=3
HeightDec=3
LatLongDec=8
LengthDec=3
SlopeDec=3
StationDec=3
VolumeDec=2
[Coordinate]
NorthAxisName=X
EastAxisName=Y
HeightAxisName=Z
CoordinateAxisOrder=012
NorthAxisDirection=1
EastAxisDirection=1
HeightAxisDirection=1
ChainageCharWithStationEquations=+
ChainageChar=/
ChainageCharPosition=3
[Angle]
MaxAngle=400.0000000000000000
NorthAngle=0.0000000000000000
RotationDirection=1
UseDegMinSec=0
[LatLong]
MaxAngle=360.0000000000000000
LatLongViewType=1
[Survey]
SurveyOrder=012
